@import "reset.css";

@font-face {
  font-family: norse;
  src: url(./fonts/norse-bold-webfont.woff);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

.left {
  flex: 1;
  background-image: url("./images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.title-logo {
  max-width: 100%;
  max-height: 100%;
}

.title-text {
  font-family: norse, sans-serif;
  color: white;
  font-size: 100px;
}

.footer {
  color: white;
  align-self: center;
}

.footer > a:visited {
  color: white;
}

.right {
  flex: 2;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top {
  flex: 1;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 40px;
}

.text-lower {
  margin-top: 20px;
}

.middle {
  background-color: whitesmoke;
  padding: 20px 40px;
  padding-right: 10px;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 30px;
}

label {
  color: gray;
  font-size: 14px;
}

input {
  outline: none;
  width: 250px;
  height: 20px;
  border: solid 1px #e5e7eb;
  border-radius: 3px;
}

input:invalid:focus {
  border: solid 1px red;
}

input:focus {
  border: solid 1px blue;
  box-shadow: 1px 1px 4px lightblue;
}

.bottom {
  flex: 1;
  margin: 30px 40px;
}

.create-button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  color: white;
  background-color: #596d48;
  font-size: 16px;
}

.create-subtitle {
  margin-top: 30px;
}

.create-subtitle > a {
  color: green;
  text-decoration: none;
}
